{{>layout/header}}

<h1>아이템 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <a href="#" class="image fit"><img src={{buy.item_image}} alt=""></a>
            </div>
            <div class="form-group">
                <label for="itme_name">아이템 이름</label>
                <input type="text" class="form-control" id="item_name" placeholder="{{buy.item_name}}" readonly>
            </div>
            <div class="form-group">
                <label for="item_type">아이템 타입</label>
                <input type="text" class="form-control" id="item_type" placeholder="{{buy.item_type}}" readonly>
            </div>
            <div class="form-group">
                <label for="item_price">아이템 가격</label>
                <input type="text" class="form-control" id="item_price" placeholder="{{buy.item_price}}" readonly>
            </div>
            <div class="form-group">
                <label for="author"> 판매자 </label>
                <input type="text" class="form-control" id="author" placeholder="{{buy.author}}" readonly>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-auction-buy">구매</button>
        <a href="/#auction" role="button" class="btn btn-secondary">취소</a>
    </div>
</div>

{{>layout/footer}}