{{>layout/header}}

<h1>아이템 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <a href="#" class="image fit"><img src={{buy.item_image}} alt=""></a>
            </div>
            <div class="form-group">
                <label for="auction_item_id">등록번호</label>
                <input type="text" class="form-control" id="auction_item_id" value="{{buy.auction_id}}" readonly>
            </div>
            <div cla<div class="form-group">
                <label for="auction_item_name">아이템 이름</label>
                <input type="text" class="form-control" id="auction_item_name" value="{{buy.item_name}}" readonly>
            </div>
            <div class="form-group">
                <label for="auction_item_type">아이템 타입</label>
                <input type="text" class="form-control" id="auction_item_type" value="{{buy.item_type}}" readonly>
            </div>
            <div class="form-group">
                <label for="auction_item_price">아이템 가격</label>
                <input type="text" class="form-control" id="auction_item_price" value="{{buy.item_price}}" readonly><br>
            </div>
            <div class="form-group">
                <label for="auction_my_berry">나의 Berry</label>
                <input type="text" class="form-control" id="auction_my_berry" value="{{all_user.berry}}" readonly><br>
            </div>
            <div class="form-group">
                <label for="auction_author"> 판매자 </label>
                <input type="text" class="form-control" id="auction_author" value="{{buy.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="auction_my_name"> 구매자 </label>
                <input type="text" class="form-control" id="auction_my_name" value="{{all_user.name}}" readonly>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-trade">구매</button>
        <a href="/#auction" role="button" class="btn btn-secondary">취소</a>
    </div>
</div>

{{>layout/footer}}