{{>layout/header}}

<!-- Wrapper-->
<div id="wrapper">

    <!-- Nav -->
    <nav id="nav">
        <a href="#me" class="icon fa-home active"><span>Home</span></a>
        <a href="#auction" class="icon fa-star"><span>Auction</span></a>
        <a href="#shop" class="icon fa-shopping-cart"><span>Shop</span></a>
        <a href="#notice" class="icon fa-th-large"><span>Notice</span></a>
        <a href="#board" class="icon fa-th-list"><span>Board</span></a>
        <a href="#write" class="icon fa-pencil"><span>Write</span></a>
        <a href="#rank" class="icon fa-trophy"><span>Rank</span></a>
        <a href="#download" class="icon fa-download"><span>Download</span></a>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Me -->
        <article id="me" class="panel">
            <header>
                <h1>T . T</h1>
                <p>Transformative Tag</p>
            </header>
            <div class="row">
                <div class="col-md-6">
                    {{#userName}}
                        <span id="user">{{userName}}</span>님
                        <form>
                            <button type="submit" formaction="/logout">Logout</button>
                        </form>
                    {{/userName}}
                    {{^userName}}
                        <form>
                            <button type="submit" formaction="/oauth2/authorization/google">Google</button>
                        </form>
                        <form>
                            <button type="submit" formaction="/oauth2/authorization/naver">Naver</button>
                        </form>
                    {{/userName}}
                </div>
            </div>
            <a href="#auction" class="jumplink pic">
                <span class="arrow icon fa-chevron-right"><span>See my auction</span></span>
                <img src="https://capstone-yjc-bucket.s3.ap-northeast-2.amazonaws.com/images/me.jpg" alt=""/>
            </a>
        </article>

        <!-- Auction -->
        <article id="auction" class="panel">
            <header>
                <h2>Auction</h2>
            </header>
            <p>
                경매장을 통하여 다른 유저들과 거래를 하세요
            </p>
        <section>
            {{#userName}}
                <div class="row">
                    <div class="4u 12u$(mobile)">
                        <a href="#" class="image fit"><img
                                src="https://capstone-yjc-bucket.s3.ap-northeast-2.amazonaws.com/images/pic01.jpg"
                                alt=""></a>
                    </div>
                </div>
            </section>
            {{/userName}}
        </article>

        <!-- Shop -->
        <article id="shop" class="panel">
            <header>
                <h2>Shop</h2>
            </header>
            <p>
                아이템을 구매하면 보다 강력한 플레이가 가능합니다
            </p>
            {{#userName}}
                <section>
                    <div class="row">
                        {{#shop}}
                            <div class="4u 12u$(mobile)">
                                <a href="#" class="image fit"><img src={{item_image}} alt=""></a>
                                <table class="table table-horizontal table-bordered">
                                    <tr>
                                        <td>번호</td>
                                        <td>{{id}}</td>
                                        <td>이름</td>
                                        <td>{{item_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>타입</td>
                                        <td>{{item_type}}</td>
                                        <td>가격</td>
                                        <td>{{item_price}}원</td>
                                    </tr>
                                </table>
                            </div>
                        {{/shop}}
                    </div>
                </section>
            {{/userName}}
        </article>

        <!-- Notice -->
        <article id="notice" class="panel">
            <header>
                <h2>Notice</h2>
            </header>
            <p>
                공지사항을 통해 소식을 전해드립니다
            </p>
            {{#userName}}
                <section>
                    <div class="row">
                        <table class="table table-horizontal table-bordered">
                            <thead class="thead-strong">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>최종수정일</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                            {{#posts}}
                                <tr class="4u$ 12u$(mobile)">
                                    <td>{{id}}</td>
                                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                                    <td>{{author}}</td>
                                    <td>{{modifiedDate}}</td>
                                </tr>
                            {{/posts}}
                            </tbody>
                        </table>
                    </div>
                </section>
            {{/userName}}
        </article>

        <!-- Board -->
        <article id="board" class="panel">
            <header>
                <h2>Board</h2>
            </header>
            <p>
                게시판을 이용하면 다른 유저들과 소통할 수 있습니다
            </p>
            {{#userName}}
                <section>
                    <div class="row">
                        <table class="table table-horizontal table-striped">
                            <thead class="thead-strong">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>최종수정일</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                            {{#posts}}
                                <tr class="4u$ 12u$(mobile)">
                                    <td>{{id}}</td>
                                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                                    <td>{{author}}</td>
                                    <td>{{modifiedDate}}</td>
                                </tr>
                            {{/posts}}
                            </tbody>
                        </table>
                        <div class="text-center">
                            <ul class="pagination">
                                <li><a href="#board">1</a></li>
                                <li><a href="#board">2</a></li>
                                <li><a href="#board">3</a></li>
                                <li><a href="#board">4</a></li>
                                <li><a href="#board">5</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            {{/userName}}
        </article>

        <!-- Write -->
        <article id="write" class="panel">
            <header>
                <h2>Write</h2>
            </header>
            <p>
                게시글을 작성할 땐 욕설과 비난을 삼가합시다
            </p>
            {{#userName}}
                <form action="#" method="post">
                    <div>
                        <div class="row">
                            <div class="6u 12u$(mobile)">
                                <input id="title" type="text" name="title" placeholder="Title"/>
                            </div>
                            <div class="6u$ 12u$(mobile)">
                                <input id="author" type="text" name="author" value={{userName}} readonly/>
                            </div>
                            <div class="12u$">
                                <textarea id="content" name="Contents" placeholder="Contents" rows="8"></textarea>
                            </div>
                            <div class="12u$">
                                <button type="button" class="btn btn-primary" id="btn-save">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            {{/userName}}
        </article>

        <!-- Rank -->
        <article id="rank" class="panel">
            <header>
                <h2>Rank</h2>
            </header>
            <p>
                전적을 확인하여 나의 위치를 확인할 수 있습니다
            </p>
            {{#userName}}
                <section>
                    <div class="row">
                        <table class="table table-horizontal table-bordered">
                            <thead class="thead-strong">
                            <tr>
                                <th>아이디</th>
                                <th>술래 Win</th>
                                <th>술래 Lose</th>
                                <th>도망자 Win</th>
                                <th>도망자 Lose</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                            {{#rank}}
                                <tr class="4u$ 12u$(mobile)">
                                    <td>{{name}}</td>
                                    <td>{{catcher_win}}</td>
                                    <td>{{catcher_lose}}</td>
                                    <td>{{runner_win}}</td>
                                    <td>{{runner_lose}}</td>
                                </tr>
                            {{/rank}}
                            </tbody>
                        </table>
                    </div>
                </section>
            {{/userName}}
        </article>

        <!-- Download -->
        <article id="download" class="panel">
            <header>
                <h2>Download</h2>
            </header>
            <p>
                T . T를 이용해주셔서 감사합니다
            </p>
            {{#userName}}
                <section>
                    <div class="row">
                        <div class="4u 12u$(mobile)">
                            <a href="#" class="image fit"><img
                                    src="https://capstone-yjc-bucket.s3.ap-northeast-2.amazonaws.com/images/pic01.jpg"
                                    alt=""></a>
                        </div>
                        <div class="4u 12u$(mobile)">
                            <a href="#" class="image fit"><img
                                    src="https://capstone-yjc-bucket.s3.ap-northeast-2.amazonaws.com/images/pic02.jpg"
                                    alt=""></a>
                        </div>
                        <div class="4u$ 12u$(mobile)">
                            <a href="#" class="image fit"><img
                                    src="https://capstone-yjc-bucket.s3.ap-northeast-2.amazonaws.com/images/pic03.jpg"
                                    alt=""></a>
                        </div>
                        <div class="4u 12u$(mobile)">
                            <a href="#" class="image fit"><img
                                    src="https://capstone-yjc-bucket.s3.ap-northeast-2.amazonaws.com/images/pic04.jpg"
                                    alt=""></a>
                        </div>
                        <div class="4u 12u$(mobile)">
                            <a href="#" class="image fit"><img
                                    src="https://capstone-yjc-bucket.s3.ap-northeast-2.amazonaws.com/images/pic05.jpg"
                                    alt=""></a>
                        </div>
                        <div class="4u$ 12u$(mobile)">
                            <a href="#" class="image fit"><img
                                    src="https://capstone-yjc-bucket.s3.ap-northeast-2.amazonaws.com/images/pic06.jpg"
                                    alt=""></a>
                        </div>
                    </div>
                </section>
            {{/userName}}
        </article>
    </div>

{{>layout/footer}}