{{>layout/header}}

<article class="panel">


        <form action="#" method="post">
            <div>
                <div class="row">
                    <div class="6u 12u$(mobile)">
                        <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
                    </div>
                    <div class="6u 12u$(mobile)">
                        <input type="text" class="form-control" id="title" value="{{post.title}}">
                    </div>
                    <div class="6u$ 12u$(mobile)">
                        <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
                    </div>
                    <div class="12u$">
                        <textarea class="form-control" id="content" rows="8">{{post.content}}</textarea>
                    </div>
                    <div class="12u$">
                        <button type="button" class="btn btn-primary" id="btn-save">Submit</button>
                    </div>
                </div>
            </div>
        </form>
</article>

{{>layout/footer}}