{{>layout/header}}

<h1>Shop</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <section>
            <div class="row">
                <div class="4u 12u$(mobile)">
                    <table class="table table-horizontal table-bordered">
                        <tr style="text-align:center;">
                            <a href="#" class="image fit"><img src={{buy.item_image}} alt=""></a>
                        </tr>
                        <tr style="text-align:center; position:absolute; visibility:hidden;" >
                            <td><input type="text" class="form-control" id="item_id" value="{{buy.item_id}}" readonly></td>
                        </tr>
                        <tr style="text-align:center;">
                            <td><input type="text" class="form-control" id="item_name" value="{{buy.item_name}}" readonly></td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{buy.item_price}} berry</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{buy.item_type}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <span><input type="text" class="form-control" id="email" value="{{all_user.email}}" readonly></span>
                    <span>내 베리 <input type="text" class="form-control" id="item_price" value="{{all_user.berry}}" readonly>@</span>
                    <span>아이템 가격 <input type="text" class="form-control" id="item_berry" value="{{buy.item_price}}" readonly>@</span>

                    <span>뺀 가격
                        <textarea type="text" class="form-control" id="after_berry" readonly></textarea>@
                    </span>
                    <script>
                        document.getElementById("after_berry").innerHTML = {{all_user.berry}}-{{buy.item_price}};
                    </script>
                </div>
            </div>
        </section>
        <div>
            <span id="berry"></span>>
            속도가 2배 빨라집니다<span id="my_email" style="position:absolute; visibility:hidden;" >{{my_email}}</span>
        </div>

        <button type="button" class="btn btn-primary" id="btn-buy">구매하기</button>
        <a href="/#shop" role="button" class="btn btn-secondary">구매취소</a>
    </div>
</div>


{{>layout/footer}}