{{>layout/header}}

<h1>게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <section>
            <div class="row">
                <div class="4u 12u$(mobile)">
                    <a href="#" class="image fit"><img src={{buy.item_image}} alt=""></a>
                    <table class="table table-horizontal table-bordered">
                        <tr style="text-align:center;">
                            <td id="item_name">{{buy.item_name}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td id="item_price">{{buy.item_price}} berry</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{buy.item_type}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <span id="my_berry">내 베리 {{all_user.berry}}@</span>
                    <span id="item_berry">아이템 가격 {{buy.item_price}}@</span>
                    뺀 가격 <script>
                    document.write({{all_user.berry}}-{{buy.item_price}});
                </script>@
                </div>
            </div>
        </section>
        <div>
            <span id="berry"></span>>
            아이템 효과에 대해 서술하자@@@@@@@@@@@@@@@<span id="my_email">{{my_email}}</span>
        </div>

        <button type="button" class="btn btn-primary" id="btn-update">구매하기</button>
        <a href="/#shop" role="button" class="btn btn-secondary">구매취소</a>
    </div>
</div>


{{>layout/footer}}