{{>layout/header}}
            {{#all_user}}
                {{email}},
                {{user_id}},
                {{name}},
                {{role}},
                {{catcher_win}},
                {{catcher_lose}},
                {{runner_win}},
                {{runner_lose}},
                {{berry}},
                {{smoke_bomb}},
                {{smoke_bomb1}},
                {{smoke_bomb2}},
                {{smoke_bomb3}},
                {{smoke_bomb4}},
                {{smoke_bomb5}},
                {{smoke_bomb13}};
            {{/all_user}}
{{>layout/footer}}