{{>layout/header}}

<h1>회원정보</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <table class="table table-horizontal table-bordered">
            {{#all_user}}
            <tr style="text-align:center;">
                <td>{{user_id}} @id@</td>
            </tr>
            {{/all_user}}

        </table>
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        <a href="/user/my/{{user_id}}" role="button" class="btn btn-secondary">정보</a>
        <a href="/" role="button" class="btn btn-secondary">뒤로가기</a>
    </div>
</div>


{{>layout/footer}}