{{>layout/header}}

<h1>회원정보</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <section>
            <div class="row">
                <div class="4u 12u$(mobile)">
                    <a href="#" class="image fit"><img src={{user_my.picture}} alt=""></a>
                    <table class="table table-horizontal table-bordered">
                        <tr style="text-align:center;">
                            <td>{{user_my.id}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.name}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.email}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.role}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.catcher_win}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.catcher_lose}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.runner_win}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.runner_lose}}</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.berry}}berry</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.smoke_bomb}} smoke_bomb</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.smoke_bomb1}} smoke_bomb1</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.smoke_bomb2}} smoke_bomb2</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.smoke_bomb3}} smoke_bomb3</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.smoke_bomb4}} smoke_bomb4</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.smoke_bomb5}} smoke_bomb5</td>
                        </tr>
                        <tr style="text-align:center;">
                            <td>{{user_my.smoke_bomb13}} smoke_bomb6</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <a href="/" role="button" class="btn btn-secondary">뒤로가기</a>
    </div>
</div>


{{>layout/footer}}